body {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  color: #333; }

#hd {
  background-color: #584E3B;
  color: #fff;
  padding: 5px 0px;
  margin-bottom: 10px; }
  #hd h1 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    margin-left: 10px; }
  #hd a {
    color: #fff;
    text-decoration: none; }

#ft {
  margin-top: 10px; }

.user-navigation-bar {
  float: right;
  margin: 3px 10px 0px 0px;
  margin-right: 10px; }

.workspace h3 {
  background-color: #8C886B;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.2em;
  padding: 5px 10px; }
.workspace .description {
  background-color: #FFF6A8;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 14px; }

.list ul li {
  background-color: #f4f4f4;
  margin-bottom: 5px;
  border-left: 3px solid #736B8C;
  padding: 5px 10px; }
  .list ul li .actions {
    float: right; }

.asap {
  background-color: #EB3156;
  color: #fff;
  padding: 1px 3px;
  font-weight: bold; }

#item-form {
  background-color: #E4F2E6;
  margin-bottom: 10px; }
  #item-form form {
    padding: 5px 0px;
    margin: 0px 10px; }
    #item-form form textarea {
      width: 100%;
      border: 1px solid #ccc;
      height: 65px; }
    #item-form form .field {
      margin-bottom: 5px; }

input.pretty-submit {
  padding: 3px 7px; }

.sidebar {
  border-left: 3px solid #736B8C;
  background-color: #E4F2E6; }
  .sidebar h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    margin-bottom: 10px; }
  .sidebar .box {
    margin: 0px 10px;
    padding: 5px 0px; }
