View:
= link_to_remote 'Pending', :url => board_items_path(@board, :pending => true), :method => :get
|
= link_to_remote 'Completed', :url => board_items_path(@board, :completed => true), :method => :get
