View:
= link_to 'Pending',   board_items_path(@board, :pending => true),   :method => :get, :remote => true
|
= link_to 'Completed', board_items_path(@board, :completed => true), :method => :get, :remote => true

